@font-face {
  font-family: "Roboto";  
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: 200;
}

.avail_num{
  border-radius: 7px;
  background-color: white;
  color: #50C1E9;
  font-weight: bolder;
  font-size: 34px;
  position: absolute;
  width:615px;
  line-height: 80px;
  height:70px;
  top:415px;
  left:125px;
  font-family: "Roboto";
  text-align: right;
}

.avail_line{
  border-radius: 7px;
  background-color: #50C1E9;
  position: absolute;
  width:597px;
  line-height: 80px;
  height:1px;
  top:485px;
  left:150px;
  font-family: "Roboto";
  text-align: right;
}

.M1:hover {
  background-color: #5BE7C4;
  border: 0px;
  color: white;
  outline:none;
}

.M2:hover {
  background-color: #5BE7C4;
  border: 0px;
  color: white;
  outline:none;
}
.M3:hover {
  outline:none;
  background-color: #5BE7C4;
  border: 0px;
  color: white;
}

.App {
  text-align: center;
}

.warning{
  border-radius: 7px;
  letter-spacing: 2px;
  background-color: #F8F6F6;
  color:black;
  position: absolute;
  top: 280px;
  line-height: 50px;
  font-family: "Roboto";
  left: 125px;
  font-size:18px;
  height: 50px; 
  display: table-cell;
  vertical-align: middle;
  box-shadow: 0px 0px 2px #BCBEC0;
  width: 1305px;
}

.M1{
  border: 4px solid #5BE7C4;
  position: absolute;
  top:210px;
  left:440px;
  border-radius: 40px / 40px;
  width: 210px;
  height: 40px;
  background-color: transparent;
  align-items: center;
  font-size: 20px;
  letter-spacing: 5px;
  color: #6AB09F;
}
.M2{
  border: 4px solid #5BE7C4;
  border-radius: 40px / 40px;
  position: absolute;
  top:210px;
  left: 690px;
  width: 210px;
  height: 40px;
  text-align: center;
  background-color: #5BE7C4;
  font-size: 20px;
  letter-spacing: 4px;
  color: #FFFFFF;
}
.M3{
  position: absolute;
  background-color: transparent;
  top:210px;
  left:940px;
  border: 4px solid #5BE7C4;
  border-radius: 40px / 40px;
  width: 210px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: #6AB09F;
}

.team-name{
  font-size: 60px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 30px;
  left: 505px;
  text-shadow: 0px 4px 4px #BCBEC0;
}
.w{
  border-radius: 50%;
  background-color: #50C1E9;
  font-weight: bold;
  width: 30px;
  height:30px;
  position:absolute;
  top:288px;
  font-size:20px;
  left:150px;
  line-height: 30px;
  text-align: center;
}

.circle{
  border-radius: 50%;
  background-color: #50C1E9;
  width: 25px;
  height:25px;
  position:absolute;
  top:377px;
  left:150px;
}

.available{
  border-radius: 7px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px #BCBEC0;
  color:black;
  font-size: 22px;
  position: absolute;
  width:640px;
  line-height: 80px;
  height:150px;
  top:350px;
  left:125px;
  font-family: "Roboto";
}
.circle2{
  border-radius: 50%;
  background-color: #50C1E9;
  width: 25px;
  height:25px;
  position:absolute;
  top:542px;
  left:150px;
}

.l{
  background-color: #86D4F0;
  width: 590px;
  height:2px;
  position:absolute;
  top:0px;
  left:150px;
}

#bettinginput{
  font-size: 17px;
  width: 590px;
  height:40px;
  position:absolute;
  top:600px;
  left:150px;
  border: 1px solid #50C1E9;
  box-shadow: 0.5px 0.5px 2px #BCBEC0;
  border-radius: 3px;
  text-align:right;
}

.receiving{
    position: absolute;
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    top: 435px;
    left: 840px;
}

#bettinginput2{
  font-size: 17px;
  width: 375px;
  height:35px;
  position:absolute;
  top:430px;
  left:1025px;
  border: 1px solid #50C1E9;
  box-shadow: 0.5px 0.5px 2px #BCBEC0;
  border-radius: 3px;
}
.contents_challenge{
  position: absolute;
  color: black;
  font-family: "Roboto";
  font-size: 20px;
  top: 495px;
  left: 900px; 
}
#bettinginput3{
  font-size: 17px;
  width: 375px;
  height:150px;
  position:absolute;
  top:495px;
  left:1025px;
  border: 1px solid #50C1E9;
  box-shadow: 0.5px 0.5px 2px #BCBEC0;
  border-radius: 3px;  
}
.send{
  background-color: #5BE7C4;
  letter-spacing: 4px;
  position:absolute;
  border: solid 2px #5BE7C4;
  border-radius: 40px;
  top:700px;
  font-size:20px;
  color: white;
  left: 715px;
  width:120px;
  height: 35px;
  text-align: center;
  box-shadow: 0.5px 0.5px 2px #BCBEC0;
}
.reset{
  position:absolute;
  top:548px;
  left:650px;
  background-color: #F8F6F6;
  border-radius: 3px;
  width:90px;
  height:30px;
  font-size:15px;
  box-shadow: 0.5px 0.5px 2px #BCBEC0;
  font-family: "Roboto";
  border: 2px solid #F8F6F6;
}
.circle3{
  border-radius: 50%;
  background-color: #50C1E9;
  width: 25px;
  height:25px;
  position:absolute;
  top:377px;
  left:820px; 
}
.content{
  border-radius: 7px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px #BCBEC0;
  color:black;
  font-size: 22px;
  position: absolute;
  width:640px;
  line-height: 80px;
  height:320px;
  top:350px;
  left:790px;
  font-family: "Roboto";
}

.betting{
  border-radius: 7px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px #BCBEC0;
  color:black;
  font-size: 22px;
  position: absolute;
  width:640px;
  line-height: 70px;
  height:150px;
  top:520px;
  left:125px;
  font-family: "Roboto";
}

.m{
  position:absolute;
  top: 140px;
  left: 835px;
  font-family: "Roboto";
  color: black;
}

.mileage{
  position:absolute;
  font-size:50px;
  top:120px;
  left:645px;
  font-weight: bold;
  text-shadow: -0.5px 0 #50C1E9, 0 0.5px #50C1E9, 0.5px 0 #50C1E9, 0 -0.5px #50C1E9;
  font-family: "Roboto";
  color: #50C1E9;
  border: 0px solid #50C1E9;
  flex-direction: row;
}


.App-header {
  background-color: #F5F7FA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  height:760px;
}

