

.bar{
    position: absolute;
    width: 75px;
    height: 1080px;
    left: 0px;
    top: 0px;

    background: #5BE7C4;
}
.setTitle{
    position: absolute;
    width: 40%;
    height: 100px;
    left: 160px;
    top: 45px;

    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 60px;
}

.icon:hover{
    background-color: #50C1E9;
}


.setTag{
    position: absolute;
    width: 240px;
    height: 61px;
    left: 78%;
    top: 46.68px;

    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 40px;
    
}
.Tag:hover{
    background: #ffffff;
    color: #5BE7C4;
}

.Tag{
    position: absolute;
    width: 144px;
    height: 58px;
    left: 91%;
    top: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F5F7FA;

    background: #5BE7C4;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.confirm:hover{
    background: #ffffff;
    color: #5BE7C4;
}
.confirm{
    position: fixed;
    width: 104px;
    height: 50px;
    right: 2.3%;
    top: 875px;
    
    background: #5BE7C4;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.cancel{
    position: fixed;
    width: 104px;
    height: 50px;
    right: 2.3%;
    top: 935px;
    
    background: #777777;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.table_border{
 border: 5px solid #50C1E9;
 position: fixed;
 width: 127px;
 height: 718px;
 right: 1.6%;
 top: 142px;
 border-radius: 12px;
 box-shadow: 2px 2px 3px #BCBEC0;
}

.components{
    position: fixed;
    width: 110px;
    height: 700px;
    right: 2%;
    top: 150px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-sizing: border-box;
}

.bone{
    z-index:-1;
    position: absolute;
    width: 81%;
    height: 2000px;
    left: 160px;
    top: 200px;
    scroll-behavior: auto;
    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 60px;
}


.scoresheet{
    position : absolute;
    width: 600px;
    height: 600px;

    background: #ffffff;
    border: 4px solid #50C1E9;
    border-radius : 30px;
}

.score{
    position: relative;
    width: 400px;
    height: 400px;

    background: #ffffff;
    border: 4px solid #50C1E9;
    border-radius: 30px;
}
.putimg{
    position: relative;
    width: 555px;
    height: 285px;
    top: 20px;
    left: 20px;
    border: 2px solid #50C1E9;
    border-radius: 30px;
    text-align: center;
    vertical-align: center;
}

.set{
    position: relative;
    width: 210px;
    height: 250px;
    top: 40px;
    left: 20px;
    border: 2px solid #50C1E9;
    border-radius: 30px;
}

.num{
    width: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}

.setnum{
    width: 50px;
    text-align: center;
    
}

.analysis{
    position: relative;
    width: 320px;
    height: 245px;
    bottom: 210px;
    left: 250px;
    border-radius: 30px;
    border: 2px solid #50C1E9;
    
    text-align:left;
    vertical-align: top;
}

.analysis_text{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 300px;
    height: 225px;
    border: none;
    font-size: 20px;
}


.draggable{
    width: 50px;
    height: 50px;
    background-color: #50c0e939;
    position: absolute;
    left: 608px;
    top: 30px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:center;
    color: #50c0e9ad;
}
.draggable:hover, .delete1:hover{
    background-color:#50c0e97d;
    color: #50c0e9de; 
}

.delete1{
    width: 50px;
    height: 50px;
    background-color: #50c0e939;
    position: absolute;
    left: 608px;
    top: 550px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:center;
    color: #50c0e9ad;
}




.component1{
    position: absolute;
}

.but{
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: 5;
}

.upload{
    position: absolute;
    top: -260px;
    left: 10%;
}

.file{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 1000px;
    top: 300px;

}

.upbutton{
    position:absolute;
    width: 200px;
    height: 60px;
    background-color: #5BE7C4;
    border-radius: 10px;
    color: #ffffff;
    border:none;
    font-size: 24px;
    left: 1000px;
    top: 370px;
}

.addimg{
    position: absolute;
    left: 250px;
    top: 80px;
    font-size: 80px;
    color: #50c0e96b;
    font-weight: bolder;
}



.addimg:hover, .addimg2:hover{
    color:#50c0e9;
}

.progress{
    position: absolute;
    left: 1000px;
    top: 330px;
    width: 200px;
    height: 30px;
    z-index: 3;
}

.image1{
    width: 555px;
    height: 285px;
    border-radius: 30px;
}
.image2{
    width: 700px;
    height: 400px;
    border-radius: 30px;
}

.textboxes{
    position: absolute;
    width: 300px;
    height: 300px;
    font-size: 20px;
}
.textcover{
    position: absolute;
    border-color:#50C1E9;
    border-width:2px;
    width: 300px;
    height: 300px;
    
}

.delete2{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 307px;
    top: 270px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:top;
    text-align: center;
    color: #50c0e9ad;  
}

.draggable2{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 307px;
    top: 0px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:center;
    text-align: center;
    color: #50c0e9ad;
}

.draggable2:hover, .delete2:hover{
    background-color:#50c0e97d;
    color: #50c0e9de;
}


.draggable3{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 507px;
    top: 0px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:center;
    text-align: center;
    color: #50c0e9ad;
}
.delete3{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 507px;
    top: 472px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:top;
    text-align: center;
    color: #50c0e9ad;  
}
.draggable3:hover, .delete3:hover{
    background-color:#50c0e97d;
    color: #50c0e9de; 
}

.textboxes3{
    position: absolute;
    width: 500px;
    height: 80px;
    font-size: 50px;
}

.draggable4{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 507px;
    top: -10px;
    z-index: 10;
    font-size: 20px;
    text-align:center;
    vertical-align:center;
    text-align: center;
    color: #50c0e9ad;
}
.delete4{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 507px;
    top: 60px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:top;
    text-align: center;
    color: #50c0e9ad;  
}
.draggable4:hover, .delete4:hover{
    background-color:#50c0e97d;
    color: #50c0e9de; 
}

.draggable5{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 707px;
    top: 20px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:center;
    text-align: center;
    color: #50c0e9ad;
}
.delete5{
    width: 50px;
    height: 50px;
    background-color: #50c0e93e;
    position: absolute;
    left: 707px;
    top: 350px;
    z-index: 10;
    font-size: 30px;
    text-align:center;
    vertical-align:top;
    text-align: center;
    color: #50c0e9ad;  
}
.draggable5:hover, .delete5:hover{
    background-color:#50c0e97d;
    color: #50c0e9de; 
}

.imgonly{
    position: absolute;
    width: 700px;
    height: 400px;
    border-radius: 30px;
    border: 4px solid #50c0e9;
}

.addimg2{
    position: absolute;
    font-size: 80px;
    font-weight: bolder;
    color: #50c0e96b;
    left: 320px;
    top: 140px;
}

#date_choice{
    position: absolute;
    left: 52%;
    top: 65px;
    font-size: 28px;
}
.textboxes2-1{

    position: absolute;
    width: 450px;
    height: 180px;
    font-size: 20px;
    background: #ffffff;
    border: 4px solid #50C1E9;
    border-radius : 20px;
    margin-left : 10px;
}

.textboxes2-2{

    position: absolute;
    width: 450px;
    height: 200px;
    font-size: 20px;
    background: #ffffff;
    border: 4px solid #50C1E9;
    border-radius : 20px;
    margin-left : 10px;

}

.textboxes2{
    border-radius : 30px;

}
#reged_tag{
    width: 400px;
    height: 100px;
    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    font-size: 18px;
    margin: 0px 50px;

}


.Tag_i{
    background-color: #DDDDDD;
}
#get_mileage{
    z-index: 10;
    position:absolute;
    width: 500px;
    height: 400px;
    left: 700px;
    top: 300px;
    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    display: none;

}
#pop_title{
    font-size: 36px;
    font-weight: bold;
    margin: 20px 25px;
}

#mileget{
    position: absolute;
    width: 240px;
    height: 58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F5F7FA;

    background: #5BE7C4;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
