@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
    font-family: "Title";  
    src: url("../font/Staatliches-Regular.ttf") format("truetype");
  }

body{
    background-color: #F8F6F6;
}

.message_text{
    font-size: 23px;
    font-weight: bolder;
    max-height : 25px;
}
.empty{
    display: inline;
    font-size : 25px;
    color : gray;
    text-align: center;
    font-weight: normal;
}
.contents {
    position: absolute;
    width : 670px;
    height : 200px;
    background-color: #F5F3F3;
    left : 650px;
    top : 487px;
    border-radius: 5px;
    font-size : 25px;
}
.all{
    position: absolute;
    left: 60px;
}

.notday, .day, .setday{
    text-align: left;
    vertical-align: top;
    border-bottom: 2px solid #dfdfdf;
    font-weight: 1000;
    color: #808080;
    width: "100px";
}

.hover:hover{
    color:#2f2f2f86;
}

.table_jun{
    position: absolute;
    border-collapse: collapse;
    width: 700px;
    height: 500px;
    left: 225px;
    top: 120px;
    font-family: sans-serif;
}

.logout{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1270px;
    top: 225px;
    background: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
    font-size: 32px;
    font-weight:900;
    color:#5BE7C4;
    border:0px;
}
.logout:hover,active, hover{
    background: #5BE7C4;
    color: #ffffff;
    border: none;
    outline:none;
}

.group{
    border:0px;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1100px;
    top: 225px;
    background: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
    font-size: 32px;
    font-weight:900;
    color:#5BE7C4;
}

.group:hover,active, hover{
    background: #5BE7C4;
    color: #ffffff;
    border: none;
    outline:none;
}

.tree_img{
    width: 270px;
    height: 340px;
}

.tree{
    text-align: center;
    vertical-align: bottom;
    height:340px;
}

.message_jun{
    font-weight: 700;
    font-size: 25px;
    vertical-align: center;
    padding-left: 15px;
}

.content_title{
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    color:#5BE7C4;
    border-bottom: 2px solid #dfdfdf;
    height: 60px;
    padding-left: 15px;
}
.mileage_jun{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: #50C1E9;
    
}

.menu{
    position:absolute;
    top:0px;
    left:-400px;
    width: 370px;
    height: 640px;
    background-color: #5BE7C4;
    border-radius: 12px;
    
}
.list{
    width: 350px;
    height: 70px;
    left: 15px;
    border:0.5px solid white;
    background: #FFFFFF;
    border-radius: 12px;
    margin-left: 10px;;
    color:#5BE7C4;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    margin: 5px;
}
.list:hover {
    filter: brightness(80%);
}

.menu_icon{
    width: 95px;
    height: 100px;
    margin: 20px 15px;
}
.icon{
    width: 95px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 13px;
    margin: 15px auto;
}

.menubar{
    position:absolute;
    top:0px;
    width: 125px;
    height: 1100px;
    background-color: #5BE7C4;
}

.setday{
    background-color: #5BE7C4;
    border-bottom: 2px solid #5BE7C4;
}
.setday:hover{
    background-color:#5be7c489 !important;
}

.Day{
    width: "100px";
    text-align: center;
    border-bottom: 2px solid #dfdfdf;
    vertical-align: top;
}

.day{
    width: "100px";
}
.notday{
    width: "100px";
}

.title_img{
    position: absolute;
    width: 1905px;
    height: 205px;
    left: 10px;
    top: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    background: #C4C4C4;
}

.title_1{
    position: absolute;
    left: 385px;
    top: 85px;
    font-size: 70px;
    font-family: "Title";
    letter-spacing: 3px;
}

.title_2{
    position: absolute;
    left: 765px;
    top: 65px;
    font-size: 90px;
    font-weight: bolder;
    font-family: "Title";
    letter-spacing: 8px;
}

.toMessage{
    position: absolute;
    width: 406px;
    height: 289px;
    left: 1460px;
    top: 230px;
    
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.toTree{
    position: absolute;
    width: 406px;
    height: 481px;
    left: 1460px;
    top: 550px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
/*이건 목적이*/
.diary{ 
    position: absolute;
    left: 50px;
    top: 230px;
    height: 0px;
    width: 200px;
    
    display: flex;
    flex-direction: column;


}

.diary_1{
    width: 100%;
    height: 20%;
    border-collapse: collapse;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 20px;
}
/*
.diary_2{
    position: absolute;
    width: 328px;
    height: 247px;
    left: 105px;
    top: 510px;
    border-collapse: collapse;
    background: #C4C4C4;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.diary_3{
    position: absolute;
    width: 328px;
    height: 247px;
    left: 105px;
    top: 790px;
    border-collapse: collapse;
    background: #C4C4C4;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}*/


.diary_img{
    height: 180px;
    width: 328px;
    vertical-align: bottom;
    border-radius: 30px 30px 0px 0px;

}  

.diary_text{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
}
.diary_date{
    text-align: right;
    font-weight: 600;
    color:#6c6c6c;
}

.calendar{
    width: 950px;
    height: 650px;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    left: 475px;
    top: 300px;
    z-index: -1;
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.year {
    color: #5BE7C4;
    font-size: 30px;
    float: right;
    position: relative;
    right: 30px;
    top: 20px;
    font-weight: bold;
}
.dailyTag{
    font-size: 15px;
}

.notday{
    color: #cacaca;
}

.toLeft:hover{
    border-right: 10px solid#5be7c489;
}
.toRight:hover{
    border-left: 10px solid#5be7c489;
}

.month-color {
    color: #5BE7C4;
    font-size: 28px;
}
.month-hover:hover{
    color:#5BE7C4 !important;
}


.months {
    color: #AAAAAA;
    position: absolute;
    left: 255px;
    top: 70px;
    word-spacing: 20px;
    font-weight:900;
}

.month-line {
    border-color: #E8E8E8;
    position: absolute;
    top: 95px;
    width: 680px;
    left: 235px;
}

.calendar-left {
    width: 200px;
    height: 650px;
    border-radius: 20px 0px 0px 20px;
    background-color: #5BE7C4;
    position: absolute;
    top: 0px;
    z-index: -1;
    bottom: 500px;
    color: white;
}

.D-date {
    font-size: 100px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    font-weight: 700;
    bottom: -10px;
    left: -10px;
}

.D-day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    bottom: 0px;
    left: -25px;
}

.today-schedule {
    font-size: 20px;
    position: relative;
    font-weight:500;
    top: 30px;
    left: 0px;
    margin-left: 25px;
    bottom: 30px;
}
