#fake_bar{
    position:fixed;
    top:0px;
    left: 0px;
    width: 5%;
    height: 100%;
    width: 2%;
    min-width: 10px;
    background-color: #5BE7C4;

}

#bar{
    opacity: 90%;
    position:fixed;
    top:0px;
    left: -200px;
    height: 100%;
    width: 200px;
    background-color: #5BE7C4;
    display: block;
}
#menubar{
    border-width: 0px 0px 5px 0px ;
    min-height: 50px;
    border-style: solid;
    border-color: #4BD7B4;
    width: 80%;
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
    margin: 11px auto;
}

.list_m{
    width: 80%;
    min-height: 100px;
    color:#FFFFFF;
    font-size: 24px;
    line-height: 50px;
    text-align: left;

    margin: 11px auto;
    border-width: 0px 0px 3px 0px ;
    border-style: solid;
    border-color: #4BD7B4;
}
.drop_down{
    display: none;
}
.list_m:hover .drop_down{
    display: block;
}

.list_sub{
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 7px solid #ffffff;

    color:#5BE7C4;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    margin: 5px auto;
}
.list_sub:hover {
    filter: brightness(80%);
}