@font-face {
  font-family: "Roboto";  
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: 200;
}
.inputgoal{
  font-size: 17px;
    width: 558px;
    height:40px;
    position:absolute;
    top:400px;
    left:180px;
    border: 1px solid #50C1E9;
    box-shadow: 0.5px 0.5px 2px #BCBEC0;
    border-radius: 3px;
    text-align:right;
}

.inputdiv{
  /* display: none; */
  /* visibility: hidden; */
  height : 40px;
  width: 560px;
}
/* .g_input{
  left:180px;
  top: 200px;
  width: 400px;
  height: 30px;
  background-color: pink;


} */

.coupon{
border: 2px;
border-radius: 5px;
width: 90px;
height: 70px;
background-color: white;
font-size: 40px;
color:black;  
box-shadow: 1px 1px 4px #BCBEC0;
line-height: 30px;
font-weight: bolder;
text-align: center;

}
.goal-inner{
background-color: white;
position:absolute;

top:390px;
left:180px;
width: 573px;
height: 310px;
overflow-y: scroll;

} 

.goal-inner_2{
  background-color: white;
  position:absolute;
  
  top:445px;
  left:180px;
  width: 573px;
  height: 255px;
  overflow-y: scroll;
  
  }

.goal-inner::-webkit-scrollbar {
width: 15px;
height:10px;
}
.goal-inner::-webkit-scrollbar-thumb {
background-color: #BCBEC0;
border-radius: 10px;
background-clip: padding-box;
border: 5px solid transparent;
}
.goal-inner::-webkit-scrollbar-track {
background-color: white;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}

.goal-inner_2::-webkit-scrollbar {
  width: 15px;
  height:10px;
  }
  .goal-inner_2::-webkit-scrollbar-thumb {
  background-color: #BCBEC0;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
  }
  .goal-inner_2::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
  }
/* .success{
border: 2px;
border-radius: 5px;
width: 85px;
height: 30px;
background-color: white;
font-size: 15px;
color: #6AB09F;  
box-shadow: 1px 1px 4px #BCBEC0;
line-height: 20px;
} */
/* .fail{
border: 2px;
border-radius: 5px;
width: 85px;
height: 30px;
background-color: white;
font-size: 15px;
color: #FF0000;  
box-shadow: 1px 1px 4px #BCBEC0;
line-height: 30px;
} */
.m_Td {
border:0.000000000001px solid lightgray;
border-radius: 2px;
padding:5px;
color : black;
background-color: #F8F6F6;
height : 53px;

}

.table1 {
line-height: 35px;
font-weight: normal;
font-size: 20px;
height : 200px;
border-collapse: collapse;
border-collapse:separate;
border-spacing:0 15px;
}

.App {
  text-align: center;
  
}
.Rankimg{
    position:absolute;
    height:40px;
    left: 823px;
    top: 335px;
}
.Goalimg{
    position:absolute;
    height:40px;
    left:165px;
    top:333px;
}
.Our{
    position:absolute;
    top:342px;
    left:1220px;
    color:black;
    font-family: "Roboto";
    font-size: 20px;
}
.star1{
  position:absolute;
  left: 890px;
  top:410px;
  height:25px;
}
.star2{
  position:absolute;
  left: 1085px;
  top:415px;
  height:18px;
}
.star3{
  position:absolute;
  left: 1275px;
  top:415px;
  height:20px;
}
.team1{
  position:absolute;
  color:black;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:905px;
  top:430px;
}
.team2{
  position:absolute;
  color:black;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:1087px;
  top:430px;
}
.team3{
  position:absolute;
  color:black;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:1272px;
  top:430px;
}
.team-name1{
  position:absolute;
  color:black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto";
  left:877px;
  top:457px;
}
.team-name2{
  position:absolute;
  color:black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto";
  left:1045px;
  top:457px;
}
.team-name3{
  position:absolute;
  color:black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto";
  left:1250px;
  top:457px;
}
.mileage1{
  position:absolute;
  color:#50C1E9;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:864px;
  top:485px;
}

.M-2:hover {
  background-color: #5BE7C4;
  border: 0px;
  color: white;
  outline:none;
}
.M-3:hover {
  background-color: #5BE7C4;
  border: 0px;
  color: white;
  outline:none;
}
.plus:hover,active, hover{
  outline:none;
}


.mileage2{
  position:absolute;
  color:#50C1E9;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:1045px;
  top:485px;
}
.mileage3{
  position:absolute;
  color:#50C1E9;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:1230px;
  top:485px;
}

.team-name4{
  position:absolute;
  color:black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto";
  left:900px;
  top:541px;
}
.mileage4{
  position:absolute;
  color:#50C1E9;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:1175px;
  top:541px;
}
.team-name5{
  position:absolute;
  color:black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto";
  left:900px;
  top:598px;
}
.mileage5{
  position:absolute;
  color:#50C1E9;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:1175px;
  top:597px;
}
.background{
  background-color: #F8F6F6;
}

.team-name6{
  position:absolute;
  color:black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto";
  left:900px;
  top:655px;
}
.mileage6{
  position:absolute;
  color:#50C1E9;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
  left:1175px;
  top:655px;
}
.success{
  text-align: center;
 color: #6AB09F;
 background-color: transparent;
 box-shadow: 0px;
 letter-spacing: 1px;
}
.fail{
  text-align: center;
 color: #F35858;
 background-color: transparent;
 box-shadow: 0px;
 letter-spacing: 1px;
}
.FButton{
  background-color: white;
  box-shadow: 0.5px 0.5px 2px #BCBEC0;
  color:#F35858;
  border: transparent;
  letter-spacing: 1px;
  font-size:18px;
  float:right;
  width:100px;
  border-radius: 5px;
  margin-right: 5px;
}
.SButton{
  background-color: white;
  box-shadow: 0.5px 0.5px 2px #BCBEC0;
  color:#6AB09F;
  border: transparent;
  letter-spacing: 1px;
  font-size:18px;
  margin-left: 5px;
  width:100px;
  border-radius: 5px;
}
.mileage-1{
  position:absolute;
  color:black;
  font-size: 13px;
  font-family: "Roboto";
  left:939px;
  top:489px;
}
.mileage-2{
  position:absolute;
  color:black;
  font-size: 13px;
  font-family: "Roboto";
  left:1119px;
  top:489px;
}
.mileage-3{
  position:absolute;
  color:black;
  font-size: 13px;
  font-family: "Roboto";
  left:1305px;
  top:489px;
}
.mileage-4{
  position:absolute;
  color:black;
  font-size: 13px;
  font-family: "Roboto";
  left:1270px;
  top:545px;
}
.mileage-5{
  position:absolute;
  color:black;
  font-size: 13px;
  font-family: "Roboto";
  left:1270px;
  top:601px;
}
.mileage-6{
  position:absolute;
  color:black;
  font-size: 13px;
  font-family: "Roboto";
  left:1270px;
  top:659px;
}
.first{
  position:absolute;
  background-color: #F8F6F6;
  width:171px;
  height:120px;
  left: 835px;
  top: 400px;
  border-radius: 5px;
}
.second{
  position:absolute;
  background-color: #F8F6F6;
  width:172px;
  height:120px;
  left: 1019px;
  top: 400px;
  border-radius: 5px;
}
.third{
  position:absolute;
  background-color: #F8F6F6;
  width:171px;
  height:120px;
  left: 1204px;
  top: 400px;
  border-radius: 5px;
}
.fourth{
  line-height: 45px;
  position:absolute;
  background-color: #F8F6F6;
  width:540px;
  height:45px;
  left: 835px;
  top: 530px;
  border-radius: 5px;
  color:#9B9595;
  font-size:18px;
  font-weight: 600;
}
.fifth{
  line-height: 45px;
  font-weight: 600;
  position:absolute;
  background-color: #F8F6F6;
  width:540px;
  height:45px;
  color:#9B9595;
  left: 835px;
  top: 587px;
  font-size:18px;
  
  border-radius: 5px;
}
.sixth{
  line-height: 45px;
  font-weight: 600;
  position:absolute;
  background-color: #F8F6F6;
  width:540px;
  height:45px;
  color:#9B9595;
  left: 835px;
  top: 644px;
  border-radius: 5px; 
  font-size:18px;
}
.goal{
    background-color: #FFFFFF;
    line-height: 87px;
    color:black;
    font-size:30px;
    font-weight: bold;
    position:absolute;
    
    letter-spacing: 2px;
    top:310px;
    left:170px;
    width: 590px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 1px 1px 4px #BCBEC0;
}
  .line{
      width:590px;
      height:2px;
      position:absolute;
      left: 170px;
      top:390px;
      background-color: #E8E8E8;
  }
  
  .rec1{
      background-color: #F5F3F3;
      position:absolute;
      width:32px;
      height:48px;
      left:170px;
      top:330px;
  }
  .cir1{
      background-color: #F5F3F3;
      position:absolute;
      border-radius: 50%;
      width:48px;
      height:48px;
      left:182px;
      top:330px;
  }
  .rec2{
      background-color: #F5F3F3;
      position:absolute;
      width:32px;
      height:48px;
      left:810px;
      top:330px;
  }
  .cir2{
      background-color: #F5F3F3;
      position:absolute;
      border-radius: 50%;
      width:48px;
      height:48px;
      left:822px;
      top:330px;
  }
  .plus{
      position: absolute;
      top:342px;
      left:630px;
      border-radius: 3px;
      font-weight:500;
      font-size: 20px;
      line-height: 0px;
      border: 1px solid #F8F6F6;
      background-color: #F8F6F6;
      box-shadow: 0.5px 0.5px 2px #BCBEC0;
      height: 25px;
      width: 80px;
  }
  .line2{
      width:590px;
      height:2px;
      position:absolute;
      left: 810px;
      top:390px;
      background-color: #E8E8E8;
  }
  .ranking{
    background-color: #FFFFFF;
    line-height: 87px;
    color:black;
    font-size:30px;
    font-weight: bold;
    position:absolute;
    letter-spacing: 2px;
    top:310px;
    left:810px;
    width: 590px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 1px 1px 4px #BCBEC0;
  }

.M-1{
  border: 4px solid #5BE7C4;
  position: absolute;
  top:210px;
  left:440px;
  border-radius: 40px / 40px;
  width: 210px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  background-color: #5BE7C4;
  letter-spacing: 5px;
  color: #FFFFFF;
}
.M-2{
  border: 4px solid #5BE7C4;
  border-radius: 40px / 40px;
  position: absolute;
  top:210px;
  left: 690px;
  width: 210px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  background-color: #F5F7FA;
  color: #6AB09F;
  
}
.M-3{
  position: absolute;
  top:210px;
  left:940px;
  border: 4px solid #5BE7C4;
  border-radius: 40px / 40px;
  width: 210px;
  height: 40px;
  background-color: #F5F7FA;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: #6AB09F;
}

.team-name{
  font-size: 60px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 30px;
  left: 505px;
  text-shadow: 0px 4px 4px #BCBEC0;
}

.m{
  position:absolute;
  top: 140px;
  left: 835px;
  font-family: "Roboto";
  color: black;
}

.mileage{
  position:absolute;
  font-size:50px;
  top:120px;
  left:645px;
  font-weight: bold;
  text-shadow: -0.5px 0 #50C1E9, 0 0.5px #50C1E9, 0.5px 0 #50C1E9, 0 -0.5px #50C1E9;
  font-family: "Roboto";
  color: #50C1E9;
  border: 0px solid #50C1E9;
  flex-direction: row;
}


.menu-bar{
  background-color: #5BE7C4;
  width:80px;
  height:760px;
  position:absolute;
  top:0px;
  display: flex;
  margin:0px;
  left:0px;
}
.App-header {
  background-color: #F5F7FA;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:760px;
}
.header{
  background-color: #F5F7FA;
 
}