@font-face {
    font-family: "Roboto";  
    src: url("../font/Roboto-Regular.ttf") format("truetype");
    font-weight: 200;
  }
  
  .App {
    text-align: center;
  }
  .Circle{
    border-radius: 50%;
    background-color: #FFFFFF;
    border:3px solid #5BE7C4;
    width:300px;
    height:300px;
    position:absolute;
    left:625px;
    top: 400px;  
  }
  
  .Sent{
    background: linear-gradient( to bottom, #5BE7C4, #50C1E9 );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: transparent;
    font-weight: bolder;
    font-size: 50px;
    position: absolute;
    top: 280px;
    left: 570px;
  }
  
  .m1{
    border: 4px solid #5BE7C4;
    position: absolute;
    top:210px;
    left:440px;
    border-radius: 40px / 40px;
    width: 210px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    color: #6AB09F;
    background-color: transparent;
  }
  .m2{
    border: 4px solid #5BE7C4;
    border-radius: 40px / 40px;
    position: absolute;
    top:210px;
    left: 690px;
    width: 210px;
    height: 40px;
    text-align: center;
    background-color: #5BE7C4;
    font-size: 20px;
    letter-spacing: 4px;
    color: #FFFFFF;
  }
  .m3{
    position: absolute;
    top:210px;
    left:940px;
    border: 4px solid #5BE7C4;
    border-radius: 40px / 40px;
    width: 210px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    color: #6AB09F;
    background-color: transparent;
  }
  .m1:hover {
    background-color: #5BE7C4;
    border: 0px;
    color: white;
    outline:none;
  }
  
  .m2:hover {
    background-color: #5BE7C4;
    border: 0px;
    color: white;
    outline:none;
  }
  .m3:hover {
    outline:none;
    background-color: #5BE7C4;
    border: 0px;
    color: white;
  }
  
  .team-name{
    font-size: 60px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 30px;
    left: 505px;
    text-shadow: 0px 4px 4px #BCBEC0;
  }
  
  .m{
    position:absolute;
    top: 140px;
    left: 835px;
    font-family: "Roboto";
    color: black;
  }
  
  .mileage{
    position:absolute;
    font-size:50px;
    top:120px;
    left:645px;
    font-weight: bold;
    text-shadow: -0.5px 0 #50C1E9, 0 0.5px #50C1E9, 0.5px 0 #50C1E9, 0 -0.5px #50C1E9;
    font-family: "Roboto";
    color: #50C1E9;
    border: 0px solid #50C1E9;
    flex-direction: row;
  }
  
  
  .menu-bar{
    background-color: #5BE7C4;
    width:80px;
    height:760px;
    position:absolute;
    top:0px;
    display: flex;
    margin:0px;
    left:0px;
  }
  .App-header {
    background-color: #F5F7FA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }