.table_shape{
  position: absolute;
  background-color: white;
  width : 1110px;
  height : 400px;
  top : 300px;
  left : 240px;
}

.table_line{
  position: absolute;

  background-color: #50C1E9;
  width : 1050px;
  height : 2px;
  top : 329px;
  left : 270px;
}

.header{
  background-color: black;
}

.table {

  color : black;
  position: absolute;
  width : 1000px;
  top : 330px;
  left : 270px;
  font-size: 17px;  
}

.pagination {
  font-size: 13px;
  position: absolute;
  top : 653px;
  left : 730px;
}

.mm1{
  border: 4px solid #5BE7C4;
  position: absolute;
  top:210px;
  left:440px;
  border-radius: 40px / 40px;
  width: 210px;
  height: 40px;
  background-color: transparent;
  align-items: center;
  font-size: 20px;
  letter-spacing: 5px;
  color: #6AB09F;
}
.mm2{
  border: 4px solid #5BE7C4;
  border-radius: 40px / 40px;
  position: absolute;
  top:210px;
  left: 690px;
  width: 210px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  font-size: 20px;
  letter-spacing: 4px;
  color: #6AB09F;
}
.mm3{
  position: absolute;
  background-color: #5BE7C4;
  top:210px;
  left:940px;
  border: 4px solid #5BE7C4;
  border-radius: 40px / 40px;
  width: 210px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.mm1:hover {
  background-color: #5BE7C4;
  border: 0px;
  color: white;
  outline:none;
}

.mm2:hover {
  background-color: #5BE7C4;
  border: 0px;
  color: white;
  outline:none;
}
.mm3:hover {
  outline:none;
  background-color: #5BE7C4;
  border: 0px;
  color: white;
}
.table_state{
  text-align: center;
}
.wait{
  border: 2px solid gray;
  border-radius: 40px / 40px;
  width: 180px;
  height: 30px;
  margin:auto;
  background-color: white;
  font-size: 17px;
  color:black;  
  letter-spacing: 1px;
  text-align: center;
}
.table_group{
  margin:auto;
  text-align:center;
}
.real_win{
  font-size:17px;
  color:#50C1E9;
  text-align:center;
  font-weight: 600;
  letter-spacing: 1px;
}

.real_rejected{
  font-size:17px;
  color:gray;
  text-align:center;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration:line-through;
}

.real_lose{
  font-size:17px;
  color:#FF9292;
  text-align:center;
  font-weight: 600;
  letter-spacing: 1px;
}
.real_tie{
  font-size:17px;
  color:gray;
  text-align:center;
  font-weight: 600;
  letter-spacing: 1px;
}
.win{
  border: 2px solid #50C1E9;
  border-radius: 40px / 40px;
  width: 80px;
  height: 30px;
  background-color: white;
  font-size: 17px;
  color: #50C1E9;  
}
.lose{
  border: 2px solid #FF9292;
  border-radius: 40px / 40px;
  width: 80px;
  height: 30px;
  background-color: white;
  font-size: 17px;
  color: #FF9292;  
}
.tie{
  border: 2px solid gray;
  border-radius: 40px / 40px;
  width: 80px;
  height: 30px;
  background-color: white;
  font-size: 17px;
  color: gray;  
}
.sent{
  border: 0px solid gray;
  border-radius: 40px / 40px;
  width: 160px;
  height: 30px;
  background-color: white;
  font-size: 17px;
  color: black;  
}