@font-face {
    font-family: "Roboto";  
    src: url("../font/Roboto-Regular.ttf") format("truetype");
    font-weight: 200;
  }
  
  .App {
    text-align: center;
  }
  .Get{
    border: 4px solid #5BE7C4;
    position: absolute;
    top:620px;
    left:660px;
    border-radius: 40px / 40px;
    width: 210px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: #5BE7C4;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px #BCBEC0;
  }
  
  .con{
      position:absolute;
      top: 150px;
      left:260px;
      height:480px;
  }

  .team-name{
    font-size: 60px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 30px;
    left: 505px;
    text-shadow: 0px 4px 4px #BCBEC0;
  }
  
  .back{
      background-color: white;
      width:1240px;
      height:560px;
      position: absolute;
      top:140px;
      left:170px;
  }
  
  
  .menu-bar{
    background-color: #5BE7C4;
    width:80px;
    height:760px;
    position:absolute;
    top:0px;
    display: flex;
    margin:0px;
    left:0px;
  }
  .App-header {
    background-color: #F5F7FA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }